body{
    margin: 0;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    border: 1px solid;
    width: 500px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
}
.login-content h1{
    text-align: center;
}
form label{
    display: block;
}
form input{
    width: 100%;
    box-sizing: border-box;
}
form div{
    margin-bottom: 15px;
}